#cuerpo{
	background-color: #fff;
	width: 100%;
	height: 100%;
}

#recuadro_orbit{
	height: 330px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	margin-bottom: 10px;
}

/*Navegacion*/
img.navegacion{
	position: relative;
	top: 7px;
	left: -5px;
	margin-right: -22px;
}
a.navegacion{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
	background-color: #C9424F;
	text-decoration: none; 
	display: inline-block;
	text-align: center;
	height: 20px;
	padding: 2px 10px 2px 30px;
	margin-left: 0px;
	
}
a.navegacion:hover{
	color: #333;
}


/*Cajas destacados index*/
#caja{
	width: 250px;
	height: 250px;
	float: left;
	margin: 20px -5px 0px 20px;
	display: block;
	overflow: hidden;
	padding-top: 10px;
	font-size: 22px;
	font-family: 'erotika';
}

img.imagen{
	position: absolute;
	z-index: 20px;
}

#recuadro{
	width: 230px;
	max-height: 100px;
	float: left;
	height: 100px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	position: absolute;
	z-index: 23;
	margin-top: 50px;
	padding: 35px 10px 20px;
	color: #fff;
}

/*CAJAS DE PRODUCTOS*/
#productos{
	width: 800px;
	float: right;
}
#cuadro_producto{
	width: 250px;
	float: left;
	margin: 0px 10px 30px 0px;
	border: 1px solid  #eee;
}
#imagen_menu_producto{
	height: 200px;
	width: 250px;
	display: block;
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
}
#titulos_producto{
	text-align: center;
	width: 250px;
	height: 35px;
	color: #444;
	padding: 0px 2px 0px 0px;
	background-color: #eee;
 	display: table-cell;
 	vertical-align: middle;
 	overflow: hidden;
 	font-family: 'arial';
 	font-size: 16px;
}
p.productos{
	color: #666;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: justify;
}
p.opciones{
	color: #333;
	font-size: 12px;
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	text-align: center;
	width: 40px;
}
p.opcion_anadir{
	color: #333;
	font-size: 12px;
	float: right;
	margin-right: 15px;
	text-align: left;
}

.caja_uds{
	color: #666;
	font-size: 12px;
	width: 30px;
	height: 20px;
	margin-left: 10px;
	border: 1px solid  #c9424f;	
	border-radius: 3px;
	text-align: center;
	font-family: 'arial';
}

.caja_precio{
	color: #333;
	font-size: 20px;
	width: 50px;
	/*border-radius: 5px;*/
	text-align: right;
	padding-top: 5px;
	margin-left: 12px;
	display: inline-block;
	font-family: 'erotika';
	font-weight: bold;
}
.caja_stock{
	font-size: 10px;
	font-family: 'arial';
	text-align: left;	
	padding: 10px;
	font-weight: bold;
}
.caja_anadir {
	background: transparent url('../img/ico-comprar.png') no-repeat center 2px;
 	border: none;
 	display: inline-block;
 	vertical-align: middle;
 	padding-top: 5px; 
 	width: 50px;
 	height: 25px;
 	margin: -15px 0px 0px 13px;
}
.caja_no_anadir {
	background: transparent url('../img/ico-comprar-gris.jpg') no-repeat center 2px;
 	border: none;
 	display: inline-block;
 	vertical-align: middle;
 	width: 50px;
 	height: 25px;
 	margin: -15px 0px 0px 13px;
}

.actualizar{
	background: transparent url('../img/bt-actualizar.jpg') no-repeat center 2px;
	border: none;
	width: 18px;
 	height: 20px;
}
.eliminar{
	background: transparent url('../img/bt-eliminar.jpg') no-repeat center 2px;
	border: none;
	width: 18px;
 	height: 20px;
}


/*Ficha producto*/
#producto_descripcion{
	float: left;
	margin: 10px 0px 0px 0px;
}
#titulo_relacionados{
	text-align: center;
	width: 220px;
	height: 35px;
	color: #fff;
	clear: both;
	padding: 10px 2px 0px 0px;
	background-color: #c9424f;
 	font-family: 'erotika';
 	font-size: 22px;
 	margin-left: 220px;
}
#productos_relacionados{
	clear: both;
	width: 770px;
	margin-left: 220px;
	margin-bottom: 30px;
	border: solid #eee 1px;
	overflow: hidden;
}	

a.aviso{
	color: #666;
}
a.aviso:hover{
	text-decoration: underline;
}


/*Menu lateral*/
#titulo_menu_lateral{
	width: 150px;
	height: 10px;
	padding: 20px 0px 30px 50px;
	background-color: #c9424f;
	color: #fff;
	font-family: 'erotika';
 	font-size: 20px;
}

ul.menu_lateral{
	list-style: none;
	margin-top: 0px;
}

a.menu_lateral{
	color: #666;
	font-family: Arial;
}

a.menu_lateral:hover{
	color: #c9424f;
}

li.caja_menu_lateral{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	margin-left: -40px;
	padding: 10px 0px 10px 20px;
}

li.caja_menu_lateral:hover{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	color: #000;
}

/*Submenu categorias*/
.bt_producto_categorias{
	font-family: 'arial';
	float: left;
	color: #999;
	margin-top: 10px;
	display: block;
    line-height: 2px;
    padding: 10px 20px;
    border-right: 1px solid rgba(0,0,0,0.5);
}
.bt_producto_categorias:hover{
	color: #c9424f;
}

/*Conectado*/
#titulo_menu{
	margin-top: 20px;
	width: 200px;
	height: 10px;
	padding: 20px 0px 30px 0px;
	background-color: #c9424f;
	color: #fff;
	text-align: center;
	font-family: 'erotika';
 	font-size: 20px;
}

h3.pie{
	font-family: 'erotika';
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 22px;
}

li.opcion{
	height: 25px;
	padding-top: 10px;
	list-style: none;
	font-family: 'arial';
	font-size: 15px;
	width: 200px;
	text-align: left;
	margin-left: -40px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
}

li.opcion:hover{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	color: #000;
}

a.opcion{
	color: #666;
	padding-left: 20px;
	
}
a.opcion:hover{
	color: #C9424F;
}

th.titulos{
	font-family: 'arial';
	font-size: 15px;
}

td.titulos{
	font-family: 'arial';
	font-size: 15px;
}

p.titulos{
	font-family: 'arial';
	font-size: 15px;
}

h2.admin{
    font-family: 'arial';
	font-size: 15px;
}

td.admin{
	color: #000;
}



a.admin{
	color: #000;
	font-family: 'arial';
	font-size: 15px;
	border-radius: 5px;
	border: #ccc solid 1px;
	color: #000;
	padding: 2px 10px 2px 10px;
	height: 30px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	background-color: #fff;
}


button.admin{
	font-family: 'arial';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	border: #ccc solid 1px;
	color: #000;
	padding: 2px 10px 2px 10px;
	height: 30px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	background-color: #fff;
}

input.admin{
	font-family: 'arial';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	border: #ccc solid 1px;
	color: #000;
	padding: 2px 10px 2px 10px;
	height: 30px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	background-color: #fff;
}

.admin_caja{
	font-family: 'arial';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	border: #ccc solid 1px;
	color: #000;
	padding: 2px 10px 2px 10px;
	height: 25px;
  	background-color: #fff;
}

.titulo_admin{
	font-family: 'arial';
	font-size: 16px;
}
