button.contacto{
	color: #fff;
	width: 100px;
	height: 32px; 
	border: 0px;
	background-color: #C9424F;
	font-family: 'erotika';
	font-size: 22px;
	float: inherit;
}


/*Mensaje Aviso Disponibilidad*/
.emergente{
	border: solid 1px #C9424F;
	text-align: center;
	max-width: 700px;
	min-height: 50px;
	padding: 20px 20px 20px 20px;
	margin: 500px 0px 0px 1040px;
	position: fixed;
	z-index: 500px;
	background: #fff;
}

#aviso p{
	font-size: 15px;
	margin-bottom: 20px;
	font-family: 'arial';
	text-align: justify;
}

#aviso_importante p{
	font-size: 15px;
	margin-bottom: 20px;
	font-family: 'arial';
	text-align: justify;
	text-transform: uppercase;
	color: red;
	font-weight: bold;
	
}

#listado li{
	list-style: none;
	float: left;
	margin-right: 10px;
	font-family: 'arial';
	font-size: 15px;
	margin-bottom: 20px;
}


#x{
	color: #fff;
	padding-top: 2px;
	width: 27px;
	background-color: #C9424F;
	font-family: 'arial';
	font-size: 22px;
	float: right;
	margin: -20px -20px 0px 0px;
}