/*Conectarse, registrarse*/
#registro{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	height: 30px;
	padding-top: 0px;
	background-color: #c9424f;
}

/*Contacto*/
table.contacto{
	float: left;
	margin: 40px 0px 50px 10px;
}
td.t_contacto{
	color: #333;
	font-family: 'erotika';
	font-size: 22px;
}
input.contacto{
	margin-bottom: 15px;
	padding-left: 5px;
	border: none;
	box-shadow: 0px 2px 10px 2px #ccc;
	height: 25px;
	width: 465px;
	color: #C9424F;
	font-family: 'arial';
	font-size: 16px;
}
textarea.contacto{
	box-shadow: 0px 2px 10px 2px #ccc;
	border: solid #C9424F 1px;
	padding-left: 5px;
	border: none;
	height: 177px;
	width: 465px;
	color: #C9424F;
	font-family: 'arial';
	font-size: 16px;
}
button.contacto{
	color: #fff;
	width: 100px;
	height: 32px; 
	border: 0px;
	float: right;
	background-color: #C9424F;
	font-family: 'erotika';
	font-size: 22px;
}

/*Registro Conectarse*/
td.conectado{
	float: right;
	margin-top: 5px;
	margin-right: 50px;
}
td{
	font-family: 'arial';
	font-size: 12px;
	color: #fff;
}

input.caja_peq{
	border: none;
	height: 15px;
}

button.conect{
	font-family: 'arial';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	color: #000;
	padding: 2px 5px 2px 5px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	background-color: #fff;
}

a.registrarse{
	font-family: 'arial';
	font-size: 13px;
	border: none;
	border-radius: 5px;
	color: #000;
	padding: 2px 5px 2px 5px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	background-color: #fff;
}

a.olvidaste{
	font-family: 'arial';
	font-size: 11px;
	color: #fff;
	margin-left: 10px;
}

table.entrar{
	width: 250px;
	margin-left: 10px;
	padding-top: 20px;
	float: left;
}

/*buscador*/
#buscador{
	float: left;
	margin: 0px 0px 0px 110px;
	padding-top: 40px;
}

input.buscar{
	border: solid 1px #C9424F;
	padding-left: 5px;
	font-size: 12px;
	width: 350px;
	height: 20px;
}

button.lupa{
	margin-top: -20px;
	float: right;
	margin-left: 335px;
	background-color: #fff;
	border: 0;
	height: 16px;
	width: 16px;
	position: absolute;
	background-image: url('../img/lupa.png');
	cursor: pointer;
}

/*cesta*/
td.cesta{
	color: #000;
}

#cesta_compra{
	float: right;
	margin-top: 35px;
}

input.caja_compra{
	border: solid 1px #C9424F;
	padding-left: 5px;
	background-color: #fff;
	width: 50px;
	height: 15px;
}


/*mensaje enviado/error*/
#enviado{
	border: solid 1px #C9424F;
	text-align: center;
	width: 400px;
	padding: 20px 0px 20px 0px;
	margin: 100px 0px 0px 300px;
	position: absolute;
	background: #fff;
}

#enviado_admin{
	border: solid 1px #C9424F;
	text-align: center;
	width: 400px;
	padding: 20px 0px 20px 0px;
	margin: 200px 0px 0px 250px;
	position: absolute;
	background: #fff;
	height: 150px;
}



button.enviado{
	color: #fff;
	width: 100px;
	height: 32px; 
	border: 0px;
	background-color: #C9424F;
	font-family: 'erotika';
	font-size: 22px;
}


/*Mensaje Aviso Disponibilidad*/
.mensaje_disponibilidad{
	border: solid 1px #C9424F;
	text-align: center;
	width: 480px;
	padding: 20px 20px 20px 20px;
	margin: 110px 0px 0px 240px;
	position: fixed;
	z-index: 500px;
	background: #fff;
}


#x{
	color: #fff;
	padding-top: 2px;
	width: 27px;
	background-color: #C9424F;
	font-family: 'arial';
	font-size: 22px;
	float: right;
	margin: -20px -20px 0px 0px;
}

#titulo_disp{
	font-family: 'erotika';
	font-size: 24px;
	margin-bottom: 20px;
}

#txt_disp{
	font-family: 'arial';
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}