header{
	text-align: center;
	margin-top: -10px;
    width: 100%;
    height: 120px; 
}

#botones_usuario{
	float: left;
	margin: 20px 0px 0px 10px;
}

button.usuario{
	background-color: #c9424f;
	color: #fff;
	border: none;
	padding: 5px;
	margin-right: 5px;
	width: 100px;
}

/*Nav*/
#iconos{
	margin-top: -70px;
}

nav{
	clear: both;
	margin-bottom: 110px;
	
}

   .menu  {/*Esto es todo el menú*/
    margin-top: 15px;
    width: 1000px;
    position: absolute;
	z-index: 255;
	padding: 0px;
  }

 .menu  li {/*Elemento caja*/
  	background-color: #fff;
  	text-align: center;
    display: block;
    float: left; 
    margin-right: 14px;
    padding-top: 0;
    font-family: 'arial';
    font-size: 15px;
    position: relative;
    width: 155px;
    border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
  }
  
  .menu  li:last-child {/*Separación del último elemento del menú*/
    margin-right: 0;
    }
    
  .menu li a.menuitem{/*Enlace del menú principal "lo que se el nombre"*/
    color: #000;
    display: block;
    padding: 65px 0px 35px;
    margin: -5px 0;
    text-decoration: none;
  }
 .menu li:hover{/*Hover general para todos*/
  	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	color: #000;
  }

/*SUBMENUS*/

  .submenu{
 	left: 0px;
 	display: none;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: block;" en el hover */
    margin: 0px 0px 0px 0px;
    opacity: 0;
    position: absolute;
    top: 90px;
    background: #fff;
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
 }
 
  .menu li:hover > .submenu { 
  	opacity: 1; 
  	display: block;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: none;" en el normal */
  }
  
  .submenu li.submenuitem{/*Elemento del submenu*/
  	font-size: 14px;
  	color: #000;
  	border-radius: 0px;
  	margin: 0px 0px 0px -40px; 
  	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 150%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	text-align: left;
  }

  .submenu li a{ /*Enlace submenu "lo que es la letra"*/
  	display: block;
  	padding: 10px;
  	margin: 0px;
  	color: #000;
  }
  
  .submenu li a:hover{
  	color: #c9424f;
  }
  
  .subsubmenu{
  	opacity: 0;
  	display: none;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: block;" en el hover */
  	position: absolute;
  	left: 155px;
  	background-color: #fff;
  	top: 0px;
  }
  
 .submenu li:hover > .subsubmenu { 
  	opacity: 1; 
  	display: block;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: none;" en el normal */
  }
  
  .submenu li.submenuitem_derecha{/*Elemento del submenu*/
  	font-size: 14px;
  	color: #000;
  	border-radius: 0px;
  	margin: 0px 0px 0px -40px; 
  	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,230,230,0.73)), color-stop(51%, rgba(224,224,224,0.72)), color-stop(100%, rgba(245,245,245,0.45)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 150%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,0.73) 50%, rgba(224,224,224,0.72) 51%, rgba(245,245,245,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
  	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	text-align: right;
  }
  
  .subsubmenu_derecha{
  	opacity: 0;
  	display: none;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: block;" en el hover */
  	position: absolute;
  	right: 155px;
  	background-color: #fff;
  	top: 0px;
  }
  
   .submenu li:hover > .subsubmenu_derecha { 
  	opacity: 1; 
  		display: block;/*Si no lo pongo se montan unos encima de otros, y hay que poner "display: none;" en el normal */
  }


